.block.map {
    height: auto;
    justify-content: flex-start;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%);
}

.address_container {
    padding: 50px 0 8px 20px;
    flex: 1;
}

.address_header {
    font-size: 26px;
    line-height: 50px;
    font-weight: 700;
}

.address_text {
    font-size: 20px;
    line-height: 25px;
    padding-top: 11px;
    margin-top: -1px;
}

.addresses {
    display: flex;
    color: rgba(26, 59, 84, 0.8);
    background: #ffffffe0;
    padding: 5px 20px;
    width: calc(100% - 70px);
    box-shadow: 0 0 10px #00000017;
    margin-top: 10px;
    max-width: 1280px;
}

.address {
    margin-right: 40px;
}

.address_text.hallplan-text-hall-name:hover {
    text-decoration: none;
    cursor: auto;
}
