@font-face {
    font-family: "Batushka";
    src: url("fonts/Batushka.woff2") format("woff2"),
    url("fonts/Batushka.woff") format("woff2");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "AvenirNext";
    src: url("fonts/AvenirNext-BoldItalic.woff2") format("woff2"),
    url("fonts/AvenirNext-BoldItalic.woff") format("woff2");
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: "AvenirNext";
    src: url("fonts/AvenirNext-Italic.woff2") format("woff2"),
    url("fonts/AvenirNext-Italic.woff") format("woff2");
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "AvenirNext";
    src: url("fonts/AvenirNext-Bold.woff2") format("woff2"),
    url("fonts/AvenirNext-Bold.woff") format("woff2");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "AvenirNext";
    src: url("fonts/AvenirNext-Bold.woff2") format("woff2"),
    url("fonts/AvenirNext-Bold.woff") format("woff2");
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "AvenirNext";
    src: url("fonts/AvenirNext-Medium.woff2") format("woff2"),
    url("fonts/AvenirNext-Medium.woff") format("woff2");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "AvenirNext";
    src: url("fonts/AvenirNext-Regular.woff2") format("woff2"),
    url("fonts/AvenirNext-Regular.woff") format("woff2");
    font-style: normal;
    font-weight: normal;
}