.letters-blocks {
    height: auto;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url(images/timeline-background.jpg);
    overflow: hidden;
}

.letters-columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1600px;
}

.letter-column {
    width: 20%;
    margin: 40px 1.2vw;
    background: rgba(212, 209, 120, 0.23);
    padding: 0 10px;
}

.letter-column a {
    margin: 1vw 0;
    display: block;
    filter: sepia(0.4) grayscale(0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    font-size: 0;
    line-height: 0;
    transition: filter 0.2s ease;
}

.letter-column a:hover {
    filter: none;
}

.letter-column img {
    width: 100%;
    height: auto;
}

.letter-column-name {
    font-size: 17px;
    line-height: 17px;
    margin-top: 1vw;
    margin-bottom: 2vw;
    height: 55px;
}