.hallplan {
	z-index: 6;
	position: relative;
	background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%);
}

.hallplan-title {
	font-size: 28px;
	line-height: 40px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 50px 0 50px 20px;
}

.hallplan-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}

@media (max-width: 520px) {
	.hallplan-container {
		flex-direction: column;
	}
}

.hallplan-svg {
	justify-content: flex-start;
	align-items: center;
	margin-right: 80px;
}

@media (max-width: 520px) {
	.hallplan-svg {
		justify-content: center;
		margin: 0;
		width: 100%;
	}
}

.hallplan-text {
	width: 50%;
}

@media (max-width: 520px) {
	.hallplan-text {
		transform: none;
		margin: 21px 20px 40px;
		width: auto;
		order: 0;
	}

	.hallplan-text-hall-title {
		display: none;
	}
}

.hallplan-text-hall-name {
	font-size: 16px;
	line-height: 20px;
	margin: 10px 0 10px;
	cursor: pointer;
}

@media (min-width: 520px) {
	.hallplan-text-hall-name {
		font-size: 19px;
		line-height: 24px;
		margin: 10px 0 25px;
	}

	.hallplan-text-hall-name.hall-5 {
		margin-bottom: 0;
	}
}

.active-hall-name {
	text-decoration: underline;
}

.hallplan-text-hall-name:hover {
	text-decoration: underline;
}

.hallplan-text-hall-name.active-hall-name span:nth-child(2), .hallplan-text-hall-name:hover span:nth-child(2) {
	opacity: 1;
}

.hallplan-text-hall-name.hall-4,
.hallplan-text-hall-name.hall-5 {
	text-decoration: none!important;
	cursor: default;
}

.hallplan-text-hall-name span:nth-child(1) {
	opacity: 0.8;
}

.hallplan-text-hall-name span:nth-child(2) {
	font-weight: 500;
	opacity: 0.8;
}

.hall-annotations {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	position: absolute;
	top: 0;
	max-width: calc(700px - 64px);
	padding: 16px 40px 16px 16px;
	margin: 0 -10px;
	box-shadow: -1px 4px 7px 7px #00000061;
	transition: opacity 0.3s ease;
	background: #fff url(images/cross.svg) top 12px right 12px no-repeat;
	background-size: 20px;
	z-index: 1;
}

.hall-annotations.hall-annotations-visible {
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	min-height: calc(100% - 34px);
}

@media (max-width: 520px) {
	.hall-annotations {
		left: 0;
		margin: 0;
	}
}

.hall-circle {
	pointer-events: none;
	opacity: 0.8;
}

.hallplan svg {
	width: 40vw;
	height: auto;
	margin-left: 20px;
	max-width: 700px;
}

@media (max-width: 520px) {
	.hallplan svg {
		width: 100%;
		max-width: auto;
		margin: 0 20px;
		height: auto;
	}
}

.hall-background {
	pointer-events: none;
}

.hall-color {
	pointer-events: none;
	opacity: 0;
	transition: opacity 0.2s ease;
}

.hall-text {
	pointer-events: none;
}

.hall-hover {
	cursor: pointer;
}

.hall-hover.hall-4,
.hall-hover.hall-5 {
	cursor: default;
}

.hall-hover.hall-1:hover ~ .hall-color.hall-1 {
	opacity:1;
}

.hall-hover.hall-2:hover ~ .hall-color.hall-2 {
	opacity:1;
}

.hall-hover.hall-3:hover ~ .hall-color.hall-3 {
	opacity:1
}

.hall-hover.hall-4:hover ~ .hall-color.hall-4 {
	opacity:1;
}

.hall-hover.hall-5:hover ~ .hall-color.hall-5 {
	opacity:1;
}

.hall-stair {
	opacity: 0.6;
}

.active-color-hall {
	opacity: 1;
}