* {
    margin: 0;
    padding: 0;
    outline: none;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Avenir Next', Arial, sans-serif;
    background-image: url(images/timeline-background.jpg);
    background-position: 40%;
    background-attachment: fixed;
    background-size: cover;
}

.timeline {
    padding-top: 90px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.7) 100%);
    position: relative;
}

.timeline .period-title {
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
    margin-left: 20px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.period-date {
    width: 30vw;
    padding-right: 20px;
    border-right: 1px solid #000;
    height: 90px;
}

.period-date.fixed .period-title {
    position: fixed;
    top: 100px;
    width: calc(30vw - 40px);
    z-index: 1;
    text-shadow: 0 0 20px #fff;
}

.period-date:first-child {
    border-color: transparent;
}

.timeline .date-block {
    position: relative;
    display: flex;
}

.timeline .date-block .date .date-text,
.timeline .date-block .text {
    transition: opacity 0.2s ease;
}

.timeline .date-block.date-block-hidden .date .date-text,
.timeline .date-block.date-block-hidden .text {
    opacity: 0;
}

.timeline .date-block .extra-text {
    max-width: 18vw;
    margin-left: 20px;
    font-style: italic;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    text-align: left;
    color: #525252;
    transition: opacity 0.2s ease;
}

.timeline .date-block .date {
    width: 30vw;
    padding-right: 20px;
    border-right: 1px solid #000;
    text-align: right;
    padding-top: 20px;
    padding-bottom: 40px;
    flex: 0 0 30vw;
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: relative;
}

.timeline .date-block .date:after {
    position: absolute;
    right: -4px;
    width: 7px;
    height: 7px;
    border-radius: 100%;
    content: '';
    display: block;
    background: #000;
    top: -2px;
    transition: transform 0.2s ease;
}

.timeline .date-block .date-empty {
    flex-direction: row;
}

.timeline .date-block .date-empty:after {
    display: none;
}

.timeline .date-block:last-child .date {
    border-color: transparent;
}

.timeline .date-block .text {
    max-width: 623px;
    padding-left: 16px;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 17px;
    line-height: 20px;
    display: flex;
    text-shadow: 0 0 5px #fff;
}

.timeline .date-block.featured .text {
    font-weight: 500;
    font-size: 23px;
    line-height: 30px;
    padding-top: 15px;
}

.timeline .date-block.active-date .date:after {
    transform: scale(2);
}

.timeline-map {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

.timeline-map-svg {
    height: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    display: none;
    justify-content: flex-end;
}

.timeline-map svg {
    height: 100%;
}

.timeline-main {
    z-index: 4;
    position: relative;
    pointer-events: none;
}

.timeline-cite {
    top: 0;
    right: 0;
    left: 0;
    z-index: 5;
    background-image: linear-gradient(180deg, rgba(26, 59, 84, 0.70) 0%, rgba(26, 59, 84, 0.80) 100%), url(images/timeline-background.jpg);
    background-position: 40%;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.timeline-cite-text {
    padding: 26px 20px 26px 60px;
    font-style: italic;
    position: relative;
    background: url(images/cite.svg) 25px 14px no-repeat;
    background-size: 17px;
    font-family: 'Batushka', Times, serif;
    font-size: 35px;
    line-height: 35px;
    color: white;
    display: flex;
}

.timeline-cite-span {
    max-width: 940px;
}

.extra-text, .date-text, .text {
    margin-top: -30px;
}

.date-picture {
    width: 50px;
    height: 50px;
    background-size: cover;
    flex: 0 0 50px;
    margin-right: 12px;
    border-radius: 100%;
    transform: translate(0, -12px);
    order: -1;
    position: relative;
    z-index: 100;
    pointer-events: all;
    transition: transform 0.2s ease;
}

.date-picture:hover {
    transform: scale(1.2) translate(0, -10px);
}

.date-picture.dotted {
    height: 0;
    border-radius: 0;
    border-top: 1px dotted rgba(51, 51, 51, 0.4);
    margin-top: 22px;
}

.featured .date-picture.dotted {
    margin-top: 28px;
}

.block {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    z-index: 5;
}

.half-block {
    height: 25vh;
    height: 280px;
    overflow: hidden;
}

.block.books {
    background-image: linear-gradient(180deg, rgba(218, 218, 218, 0.7) 0%, rgba(218, 218, 218, 0.7) 100%);
    background-attachment: fixed;
    background-size: cover;
    background-position: 40%;
}

.block.video {
    background: #000;
}

.block video {
    width: 100%;
    height: 100vh;
}

/*

#blue:target .timeline {
    background-color: #1a3b54;
    background-image: url(images/timeline-background-bw.jpg);
    background-blend-mode: multiply;
    color: rgb(218, 218, 218)
}

#blue:target .extra-text {
    color: #a0a0a0;
}

#blue:target .period-date.fixed .period-title {
    text-shadow: 0 0 20px #333;
}

#blue:target .date-picture.dotted {
    border-color: #a9a9a9;
}

#blue:target .date-block .date {
    border-color: rgb(218, 218, 218);
}

#blue:target .date-block .date:after {
    background: rgb(218, 218, 218);
}

#blue:target .timeline-map {
    display: none!important;
}

 */