@keyframes popup {
    0% {
        transform: translate(200px, 0);
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        transform: translate(0, 0);
    }
}

.popup-overlay {
    position: fixed;
    top: 0;
    z-index: 10000;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
    display: none;
}

.popup-overlay.right,
.popup-overlay.center {
    display: flex;
}

.popup-overlay.right {
    justify-content: flex-end;
}

.popup-overlay img {
    background: #fff;
}

.popup-content.right img {
    transition: transform 1s ease;
    transform: translate(200px, 0);
}

.popup-overlay.right .popup-content img {
    transform: translate(0, 0);
    animation: popup 2s normal forwards ease-out;
}

.popup-overlay.right .popup-content,
.popup-overlay.right .popup-content img {
    height: 100%;
    text-align: right;
}

.popup-overlay.center .popup-content {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.popup-overlay.center img {
    max-height: 80%;
    height: auto;

}

.popup-overlay img {
    width: auto;
    filter: none;
}

.timeline-svg-icon {
    position: absolute;
}

.timeline-svg-icon svg {
    width: 100%;
    height: 100%;
}

.timeline-map-background .st1,
.timeline-map-background .st0 {
    fill: rgba(195, 195, 195, 0.47);
    stroke: transparent;
}

.timeline-map-background .st3 {
    stroke: rgba(195, 195, 195, 0.8);
    stroke-width: 2px;
    opacity: 1;
    fill: none;
}

.timeline-map-background .st4 {
    transition: stroke ease 1.4s;
    stroke-width: 4px;
    stroke: rgba(64, 64, 64, 0.4);
    fill: none;
}

.timeline-map-background .st6,
.timeline-map-background .st7 {
    fill: rgba(175, 174, 174, 0.8);
}

.timeline-map-background .st6,
.timeline-map-background .st7 {
}

.timeline-map-background .st8 {
    fill: #ccc;
    stroke: transparent;
}

.timeline-map-background .st2 {
    fill: rgba(179, 179, 179, 0.5);
}

.timeline-map-background .st9,
.timeline-map-background .st10 {
    fill: rgba(119, 119, 119, 0.25);
}

g#icos g:hover .st4 {
    fill: #522810;
    stroke: #522810;
}

.active-icon .st4 {
    fill: rgba(82, 40, 16, 0.9);
    stroke: rgba(0, 0, 0, 0.45);
}

.timeline-icon .icon-content path {
    fill: rgba(82, 40, 16, 0.8);
    transition: all ease 3s;
    stroke-width: 2px;
    stroke: rgba(82, 40, 16, 0.8);
}

.timeline-icon .icon-background path {
    stroke-width: 0;
    stroke: transparent;
    fill: transparent;
}

.timeline-icon.active-icon .icon-content path {
    fill: rgba(82, 40, 16, 1);
    transition: stroke ease 1.4s;
    stroke-width: 7px;
    stroke: rgba(0, 0, 0, 1);
}

.timeline-icon {
    cursor: pointer;
}


.timeline-icon:hover .icon-content path {
    fill: rgba(82, 40, 16, 1);
    transition: stroke ease 1.4s;
    stroke-width: 6px;
    stroke: rgba(82, 40, 16, 1);
}

.timeline-map-icons {
    opacity: 0.4;
}

.timeline-map-background text,
.timeline-map-background circle,
.timeline-map-background .st16,
.timeline-map-background .st15
{
    display: none;
}